@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* head section */
.banner {
  background: linear-gradient(
      0deg,
      rgba(7, 2, 17, 0.9) 0%,
      rgba(7, 2, 17, 0) 100%
    ),
    url("../images/Banner\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 600px;
  background-position: cover;
  background-size: cover;
  margin: 50px 140px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .heading .subtitle {
  color: #ffffff;
  font-size: 25px;
  margin-bottom: 16px;
}
.banner .heading .title {
  color: #ffffff;
  font-size: 57px;
}
.banner .heading {
  margin: 0 auto;
}
.title .celeb {
  display: block;
}
.text-center {
  text-align: center;
}
/* style offer-info */
.offer-info {
  width: 800px;
  margin: 120px 398px;
}
.offer-info .image-offer {
  margin-top: 48px;
}
.offer-info h2 {
  font-size: 70px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 38px;
}
.offer-info p {
  font-size: 19px;
  color: #ff0000;
  margin-bottom: 16px;
}
.offer-info h3 {
  font-weight: bold;
  font-size: 38px;
  color: #070211;
}
/* Main section styling */
.welcome {
  background: linear-gradient(
      0deg,
      rgba(7, 2, 17, 0.9) 0%,
      rgba(7, 2, 17, 0.2) 100%
    ),
    url("../images/Vectorrr.png");
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 120px 140px;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.welcome .welcom-party {
  width: 600px;
  margin: 126px 500px 298px 126px;
}
.welcome .welcom-party h1 {
  font-size: 64px;
  color: #ffffff;
  margin-bottom: 24px;
}
.welcome .welcom-party .midnight-party {
  display: block;
}
.welcome .welcom-party .get-ready {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 48px;
}
.welcome .welcom-party .join-now {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  background: none;
  border: none;
  margin-left: 126px;
}
.welcome .year-image {
  position: absolute;
  right: 20px; /* Adjust the horizontal position */
  top: 80px; /* Adjust the vertical position */

  z-index: 2; /* Keep the image above the text */
}
/* Schedule Section */
.schedule {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to bottom, #fce4ec, #ffffff);
  height: 482px;
  margin: 120px 140px;
  border-radius: 20px;
  background-size: cover;
}

/* Schedule Info Section */
.schedule-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

/* Button Styles */
.schedule .schedule-info .schedule-join {
  padding: 10px 20px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  font-size: 20px;
  background-color: red;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  width: fit-content;
  display: block;
}
/* new offer style */
.new-offer {
  margin: 120px 140px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.new-offer .new-offer-container {
  max-width: 351px;
  margin-right: 70px;
}
.new-offer .new-offer-container .new-best-offer {
  font-size: 24px;
  color: red;
  margin-bottom: 16px;
}
.new-offer .new-offer-container h3 {
  font-size: 48px;
  margin-bottom: 22px;
}
.new-offer .new-offer-image {
  max-width: 463px;
  margin-right: 118px;
  border: 15px solid red;
  border-radius: 50%;
  padding: 15px;
}
.new-offer .another-content {
  max-width: 276px;
}
.new-offer .another-content h2 {
  font-size: 38px;
  color: red;
  font-weight: bold;
  margin-bottom: 16px;
}
.new-offer .another-content p {
  margin-bottom: 43px;
}
/* holidays-sales
.holidays-sales {
  margin: 120px 140px;
}
.new-discount {
  height: 788px;
}
.holidays-sales .functional {
  width: 854px;
  margin: 0 auto;
  margin-bottom: 64px;
}
.holidays-sales .functional h4 {
  font-size: 24px;
  margin-bottom: 12px;
}
.holidays-sales .functional h1 {
  font-size: 72px;
  margin-bottom: 22px;
}
.holidays-sales .functional h1 .red-holidays {
  color: red;
}
.holidays-sales .functional p {
  font-size: 20px;
  color: #0702117e;
}
.holidays-sales-image {
  position: relative;
}
.holidays-sales-image .discount-50 {
  position: absolute;
  top: 320px;
  bottom: 223px;
  left: 900px;
  right: 32px;
}
.holidays-sales-image .giftbox {
  position: absolute;
  top: 150px;
}
.holidays-sales .red-banner {
  position: absolute;
  top: 4500px;
} */

.dis-container {
  width: 1320px;
  height: 986px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120px;
  border-radius: 16px;
  /* text-align: center; */
}
.dis-text {
  width: 1068px;
  height: 260px;
  text-align: center;
  margin: auto;
}
.dis-text .dis-sub {
  /* width: 263px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  margin:auto auto; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 500;
}
.dis-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 72px;
  margin-top: 16px;
  font-weight: bolder;
}
.dis-span {
  color: red;
}
.dis-des {
  width: 1038px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin-top: 28px;
  opacity: 0.7;
}
.dis-image {
  height: 662px;
  position: relative;
}
.rec {
  position: absolute;
  top: 495px;
}
.gift {
  position: absolute;
  margin-top: 95px;
}
.rigth-img {
  position: absolute;
  top: 150px;
  left: 990px;
}
/* gallery styles */
.gallery {
  margin: 120px 140px;
}
.gallery-text .the-best-gift {
  color: red;
  font-size: 20px;
  margin-bottom: 12px;
}
.gallery-text .awsm-port {
  font-size: 42px;
  margin-bottom: 19px;
}
.gallery-text .lorem-text {
  color: #070211a1;
  font-size: 20px;
  margin-bottom: 42px;
}
.gallery-images {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
/* .gallery-images img {
  max-width: 350px;
} */

/* subscibe section */
.subscribe {
  background-color: #ff000028;
  height: 600px;
  width: 1300px;
  margin: 120px 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe .subscribe-container .subscribe-image {
  margin: 0 585px;
}
.subscribe .subscribe-container .sub-content {
  margin: 0 212px;
}
